h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 0.5em 0;
   font-weight: 400;
   line-height: 1.2;
}

h1 {
   font-size: 2em;
}

a {
   color: inherit;
   text-decoration: none;
}

a:hover {
   color: #ff3e00;
}

main {
   text-align: center;
   padding: 1em;
   max-width: 240px;
   margin: 0 auto;
}

h1 {
   color: #ff3e00;
   text-transform: uppercase;
   font-size: 4em;
   font-weight: 100;
}

@media (min-width: 640px) {
   main {
      max-width: none;
   }
}
